/cache
**/cache
/artifacts
**/artifacts
out
**/out
/data
**/data
/node_modules
**/node_modules
/build
**/build
/dist
**/dist
/.env
**/.env
*.env

*.ignore.*
*-lock.*
yarn-error.log
package-lock.json
pnpm-lock.yaml

.vscode/
.npmrc

